<div class="question">
  <h3><%= @question %></h3>
  <p>— You</p>
</div>
<div class="answer">
  <h3><%= @answer %></h3>
  <p>— Stupid coach</p>
</div>
<div class="new_question">
  <%= link_to "ask a new question", ask_path %>
</div>
